<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.projects.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.projects.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Demo</h3>
    <div style="text-align: center;">
      <h4>Together with Prof. <a href="https://web.mit.edu/manoli/">Manolis Kellis</a></h4>
      <img src="/assets/img/Prof.Kellis.jpg" alt="Group Image" style="width: 80%; height: auto;">
      <div style="margin-bottom: 20px;"></div>
      <h4>Evaluation from <a href="https://web.mit.edu/manoli/">Manolis Kellis</a></h4>
      <img src="/assets/img/Evaluation.png" alt="Evaluation Image" style="width: 80%; height: auto;">
      <div style="margin-bottom: 20px;"></div>
      <h4>Interdisciplinary Contest in Modeling (<a href="https://www.comap.com/contests/mcm-icm">ICM</a>) —— Meritorious Winner</h4>
      <img src="/assets/img/ICM-M.png" alt="ICM Certificate Demo Image" style="width: 80%; height: auto;">
      <div style="margin-bottom: 20px;"></div>
      <h4>Asia and Pacific Mathematical Contest in Modeling (APMCM) —— First Prize</h4>
      <img src="/assets/img/APMCM-First.png" alt="APMCM Certificate Demo Image" style="width: 80%; height: auto;">
      <div style="margin-bottom: 20px;"></div>
      <h4>Currently working on the emotion recognition model based on Transformer (Research)</h4>
      <img src="/assets/img/Transformer.png" alt="Transformer Demo Image" style="width: 80%; height: auto;">
      <div style="margin-bottom: 20px;"></div>
<!--       <h4>Review on AI assisted diagnosis of pancreatic cancer (To be Submitted)</h4>
      <img src="/assets/img/Review.png" alt="Review Demo Image" style="width: 80%; height: auto;">
      <div style="margin-bottom: 20px;"></div> -->
      <h4>Real-time facial expression recognition project based on OpenCV and CNN (Laboratory Project)</h4>
      <img src="/assets/img/CNNDEMO.png" alt="CNN Demo Image" style="width: 80%; height: auto;">
      <div style="margin-bottom: 20px;"></div>
    </div>
  </div>
</div>
