<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.projects.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.projects.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Demo</h3>
    <div style="text-align: center;">
      <h4>Real-time facial expression recognition project based on OpenCV and CNN (laboratory project)</h4>
      <img src="/assets/img/CNNDEMO.png" alt="CNN Demo Image" style="width: 80%; height: auto;">
      <h4>Review on AI assisted diagnosis of pancreatic cancer (to be submitted)</h4>
      <img src="/assets/img/Review.png" alt="Review Demo Image" style="width: 80%; height: auto;">
    </div>
  </div>
</div>
