$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Times New Roman", Times, serif;
$linkColor: #212529 !important;
$bodyFontSize: 15px; /* 调整字体大小 */

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
}

body a {
  color: $linkColor;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Set a maximum width for the image container */
  margin: auto; /* Center the image container */
}

.responsive-image {
  display: block;
  max-width: 100%;
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

