$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Times New Roman", Times, serif;
$linkColor: #212529 !important;
$bodyFontSize: 10px;
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
}

body a {
  color: $linkColor;
}
