---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Introduction</h3>
    {{ Hi, this is Barry's homepage, you can click the menu above to learn more about me. Here is a brief introduction: I am a computer science student from Northeastern University.<br>
    In terms of academic performance, I am ranked among the top three students in my grade with an average score of 91.98.<br>
    Regarding honors, I have received multiple scholarships and the title of "Three Good Students".<br>
    In terms of academic experience, I have participated in the Research Camp led by Professor MIT and received an A (98). I have also published an EI conference paper on data mining and joined the school laboratory to participate in research on emotion recognition.<br>
    In terms of competition, I have won multiple awards in mathematical modeling competitions, including the first prize in the Asia Pacific competition.<br>}}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/Picture.png" alt="Home" width="50%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
