---
layout: default
---
<head>
    <link rel="stylesheet" type="text/css" href="_sass/main.scss">
</head>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Introduction</h3>
    <p>Hi, welcome to Barry's homepage. Use the menu bar above to learn more about me.</p>
    <p>I am a Computer Science student at <strong>Northeastern University, China (985, 211)</strong> and a Research Assistant at the Chinese University of Hong Kong, Shenzhen, affiliated with the <a href="https://freedomintelligence.github.io/">CUHKSZ NLP Group</a> under the supervision of <a href="https://wabyking.github.io/old.html">Prof. Benyou Wang</a>. My research interests are Multimodal Large Language Models (MLLMs), AI for Healthcare, Fintech, Artificial General Intelligence (AGI) and Human-Computer Interaction, etc.</p>
    <p>Academically, I rank in the <strong>top 3% (2.6%)</strong> of my class with an average score of <strong>92.2</strong> and received scholarships and the "Merit Student" title in each academic year.</p>
    <p>My research experience includes participating in a Research Camp led by MIT Professor <strong><a href="https://web.mit.edu/manoli/">Manolis Kellis</a></strong>, where I earned an <strong>A</strong> (98) and ranked <strong>1st</strong> in my team. I have published a paper on data mining using the MIMIC IV Dataset (EI Search), worked on multimodal emotion recognition using prompt (to be submitted to COLING), authored a review paper (SCI JCR Q2), and hold two patents (ZL202330570881.0 & ZL202322388965.X).</p>
    <p>In competitions, I have won several international awards in mathematical modeling, including <strong>Meritorious Winner (Top 7% in the world)</strong> in the Interdisciplinary Contest in Modeling (ICM) and <strong>First Prize (Top 5% in the world)</strong> in the Asia and Pacific Mathematical Contest in Modeling (APMCM).</p>
  </div>
  <div class="col-md-6 d-flex justify-content-end image-container">
    <img src="{{ site.github.url }}/assets/img/Picture.png" alt="Home" class="responsive-image">
  </div>
</div>

{% include publications.html %}

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
