---
layout: default
---
<head>
    <link rel="stylesheet" type="text/css" href="_sass/main.scss">
</head>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Introduction</h3>
    <p>Hi, this is Barry's homepage, you can click the menu bar above to learn more about me. <br>
    Here is a brief introduction: Currently I am a Computer Science student from <strong>Northeastern University</strong> and a Research Assistant in Chinese University of Hongkong, Shenzhen affiliated with the <a href="https://freedomintelligence.github.io/">CUHKSZ NLP Group </a> Supervised by <a href="https://wabyking.github.io/old.html">Prof. Benyou Wang</a>.<br>
    In terms of academic performance, I am ranked among the <strong>top 3 (2.6%)</strong> students in my grade with an average score of <strong>92.1</strong>.<br>
    Regarding honors, I have received multiple scholarships and the title of "Merit Student".<br>
    In terms of academic experience, I have participated in the Research Camp led by MIT Professor <strong><a href="https://web.mit.edu/manoli/">Manolis Kellis</a></strong> and received an <strong>A</strong> (98). I have also published a paper on data mining based on MIMIC IV Dataset, joined the school laboratory to participate in research on emotion recognition based on Transformer, Writing an Review (JCR Q2).<br>
    In terms of competition, I have won multiple awards in mathematical modeling competitions, including  <strong>Meritorious Winer</strong> in the Interdisciplinary Contest in Modeling (ICM) and the <strong>First Prize</strong> in the Asia and Pacific Mathematical Contest in Modeling (APMCM).<br></p>
  </div>
  <div class="col-md-6 d-flex justify-content-end image-container">
    <img src="{{ site.github.url }}/assets/img/Picture.png" alt="Home" class="responsive-image">
  </div>
</div>

{% include publications.html %}

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
